<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>World's Meal</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/styles/bootstrap.min.css" rel="stylesheet">
    <link href="../public/styles/main.css" rel="stylesheet">

</head>

<body>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="searchBar  search-query form-control" placeholder="Type a location" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                    </div>
                </div>
            </div>
            <h1 class="page-header">Meal from Italy
            </h1>
        </div>
    </div>
    <!-- /.row -->


     <!-- Project Two -->
    <div class="row">
        <div class="col-md-7">

                <img class="img-responsive" src="../public/img/lasagne.jpg" alt="">

        </div>
        <div class="col-md-5">
            <h3 class="nameMeal">Lasagne</h3>
            <h4><i>Naples, Italy</i></h4>
            <div class="budget"><span class="glyphicon glyphicon-euro"></span><span class="glyphicon glyphicon-euro"></span><span class="glyphicon glyphicon-euro"></span></div>
            <hr>
            <p class="descMeal">Lasagne are wide, flat-shaped pasta, and possibly one of the oldest types of pasta. The word "lasagne" and, in many non-Italian languages, the singular "lasagna", can also refer to a dish made with several layers of lasagne sheets alternated with sauces and various other ingredients.</p>
            <a class="btn btn-primary" >View More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->


    <hr>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
                <img class="img-responsive" src="../public/img/italianFood1.jpg" >
        </div>
        <div class="col-md-5">
            <h3 class="nameMeal">Cannelloni</h3>
            <h4><i>Rome, Italy</i></h4>
            <div class="budget"><span class="glyphicon glyphicon-euro"><span class="glyphicon glyphicon-euro"></span><span class="glyphicon glyphicon-euro"></span><span class="glyphicon glyphicon-euro"></span></div>
            <hr>
            <p class="descMeal">Cannelloni are a cylindrical type of pasta generally served baked with a filling and covered by a sauce in Italian cuisine. Popular stuffings include spinach and ricotta or minced beef. The sauces typically used are tomato underneath and besciamella sauce to cover the top.</p>
            <a class="btn btn-primary" >View More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>


    <!-- Project Three -->
    <div class="row">
        <div class="col-md-7">
                <img class="img-responsive" src="../public/img/cannoli2.jpg" alt="">
        </div>
        <div class="col-md-5">
            <h3 class="nameMeal">Cannoli</h3>
             <h4><i>Palermo, Italy</i></h4>
            <div class="budget"><span class="glyphicon glyphicon-euro"></span><span class="glyphicon glyphicon-euro"></span></div>
            <hr>
            <p class="descMeal">Cannoli are Sicilian pastry desserts. Cannoli consist of tube-shaped shells of fried pastry dough, filled with a sweet, creamy filling usually containing ricotta. They range in size from "cannulicchi", no bigger than a finger, to the fist-sized proportions typically found south of Palermo, Sicily, in Piana degli Albanesi.</p>
            <a class="btn btn-primary">View More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->


     <hr>

    <!-- Project Four -->
    <div class="row">
        <div class="col-md-7">
                <img class="img-responsive" src="../public/img/pizza.jpeg" alt="">
        </div>
        <div class="col-md-5">
            <h3 class="nameMeal">Pizza</h3>
             <h4><i>Naples, Italy</i></h4>
            <div class="budget"><span class="glyphicon glyphicon-euro"></span><span class="glyphicon glyphicon-euro"></span><span class="glyphicon glyphicon-euro"></span></div>
            <hr>
            <p class="descMeal">Pizza is a flatbread generally topped with tomato sauce and cheese and baked in an oven. It is commonly topped with a selection of meats, vegetables and condiments. The pizza was invented in Naples, Italy, and the dish and its variants have since become popular in many areas of the world.!</p>
            <a class="btn btn-primary">View More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<hr>
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Ludmila & Emilia 2015</p>
    </div>
</footer>
</body>




</html>
